node_modules
.next
tsconfig.tsbuildinfo
next-dev.*.log
.vercel
.env
.env.local
.env.*.local
VERCEL_ENV_VALUES.txt
VERCEL_ENV_VALUES_PRIVATE.txt
package-lock.json
npm-shrinkwrap.json
yarn.lock
.DS_Store
